{% load static %}

{% block content%}
<div class="container py-4">
    <h4 class="mb-3">Scrollable Card Grid</h4>

    <div class="card-scroll-container">

        <div class="row row-cols-1 row-cols-md-3 g-3">
            {% for note in notes %}
            <!-- Card 1 -->
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{note.title}}</h5>
                        <p class="card-text">
                            {{note.description}}
                        </p>
                    </div>
                    <div class="d-flex flex-column gap-2">
                            <a class="btn btn-sm btn-outline-primary" href = "{% url 'edit_view' note.id %}">
                                Edit
                            </a>
                            <a class = "btn btn-sm btn-outline-danger" href = "{% url 'delete_view' note.id %}">
                                    Delete
                            </a>    
                        </div>
                </div>
            </div>
            {% endfor %}
            


        </div>
    </div>
</div>


{%endblock%}